* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
     */
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
    background-color: #000;
    text-align: center;
    padding: 8%;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

article {
    padding: 10px;
    background-color: #000;
}

body {
    background-color: #000;
}

.image-container {
    background-color: #445651;
}

.cont-Img {
    background-color: whitesmoke;
    border-radius: 6px;
    width: 570px;

}

.Title {
    margin-top: 2%;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}
.padre{
    text-align: center;
    padding: 8%;
}
#call{
    font-size: 30px;
}
#clear{
    font-size: 30px;
}
.buttons{
    text-align: center;
}
#clear{
    margin: 1%;
}